<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/transaction/creation" method="post">

        <label for="buyer">buyer:</label><br>
        <input type="text" id="buyer" name="buyer"><br>
        <label for="seller">seller:</label><br>
        <input type="text" id="seller" name="seller"><br>
        <label for="price">price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="energyAmount">Energy Amount:</label><br>
        <input type="text" id="energyAmount" name="energyAmount"><br>
        <label for="flexibility">flexibility:</label><br>
        <input type="text" id="flexibility" name="flexibility"><br>
        <label for="transactionTimestamp">transactionTimestamp:</label><br>
        <input type="text" id="transactionTimestamp" name="transactionTimestamp"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>