<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/creation" method="post">
        <label for="id">id:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="userType">user type:</label><br>
        <input type="text" id="userType" name="userType"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>